{{#> main}}
	{{#*inline "main"}}

    <div class="signup">
        <div class="uk-container uk-position-relative signup-container">
            <div class="page uk-flex uk-flex-column uk-flex-between uk-overflow-hidden uk-margin-medium-bottom uk-margin-large-top page-active">
                <div class="page-content uk-margin-medium-bottom">
                    <div class="page-info">
                        <h1>Complete Your Order</h1>
                    </div>

                    <div class="page-enquiry">
                        {{>directDebit}}
                    </div>
                </div>
            </div>
        </div>
    </div>

	{{/inline}}
{{/main}}
