{{#> main}}
	{{#*inline "main"}}

    <div class="signup">
        <div class="uk-container uk-container-small uk-position-relative signup-container">
            <div class="page uk-flex uk-flex-column uk-flex-between uk-overflow-hidden uk-margin-bottom uk-margin-large-top page-active">
                <div class="page-content uk-margin-large-bottom">
                    <div class="page-info">
                        <h1>Complete Your Order</h1>
                    </div>

                    <div class="page-enquiry">
                        {{>directDebit completeOrder=true}}
                    </div>
                </div>
            </div>
            <div class="direct-debit-bottom">
                <div class="uk-flex uk-flex-between uk-flex-wrap">
                    <div class="uk-flex uk-flex-column uk-flex-center uk-margin-right">
                        <span class="uk-text-small uk-text-uppercase uk-display-block"><strong>Go</strong> Cardless</span>
                        {{>ukButton link="mailto:accounts@thymeaccountants.co.uk" style="text" label="accounts@thymeaccountants.co.uk"}}
                    </div>
                    <div class="uk-flex uk-flex-bottom">
                        <a href="#">
                            <img src="./img/direct-debit.png" loading="lazy" width="147" height="83" alt="Direct Debit" class="uk-margin-top">
                        </a>
                    </div>
                </div>
                <div class="uk-width-2-3@m uk-margin-bottom">
                    <p>By confirming you are agreeing to our {{>ukButton link="#" label="Website Terms of Use" style="text"}}. GoCardless uses personal data as described in our {{>ukButton link="#" label="Privacy Notice" style="text"}}. We use analytics {{>ukButton link="#" label="cookies" style="text"}}.</p>
                </div>
                <div class="uk-width-2-3@m">
                    <p>Your payments are protected by the {{>ukButton link="#" label="Direct Debit Guarantee" style="text"}}.</p>
                </div>
            </div>
        </div>
    </div>

    {{>signupBanner}}

	{{>services items=items.services}}

	{{/inline}}
{{/main}}
