{{#> main}}
	{{#*inline "main"}}

	<div class="signup calculator">

		<div class="uk-container uk-position-relative signup-container">

			{{#each page.questions}}
				{{#with this}}
				<div class="page uk-flex uk-flex-column uk-flex-between uk-overflow-hidden uk-margin-medium-bottom{{#if @first}} page-active{{/if}}">
					<div class="page-content uk-margin-medium-bottom">
						<div class="page-info uk-flex uk-flex-between">
							{{#if title}}
								<div class="uk-h1 uk-margin-top uk-margin-right uk-margin-remove-bottom">{{title}}</div>
							{{/if}}
							{{>calculatorSteps}}
						</div>

						<div class="page-enquiry">
							{{#each questions}}
								{{#with this}}

								{{!-- {{#if (eq pageType "calculator-questionnaire")}}
									{{>calculatorQuestionnaire}}
								{{/if}} --}}

								{{#if (eq pageType "calculator-results")}}
									{{>calculatorResults}}
								{{/if}}

								{{/with}}
							{{/each}}
						</div>
					</div>
					
					{{#unless noSignupBottom}}
						{{>signupBottom}}
					{{/unless}}
				</div>
				{{/with}}
			{{/each}}
		</div>
	</div>

	{{>signupBanner}}

	{{>services items=items.services}}

	{{/inline}}
{{/main}}
