{{#> main}}
	{{#*inline "main"}}

	{{> homeBanner}}

	{{#> ukSection heading="Internal Pages" size="large"}}
		{{#*inline "out"}}
		{{> nbItems items=items.children}}
		{{/inline}}
	{{/ukSection}}
	
	{{#> ukSection}}
		{{#*inline "out"}}
			<div class="uk-border-rounded find-out-more left uk-text-center uk-position-relative uk-flex uk-flex-middle uk-overlow-hidden">
				<a href="#" class="uk-position-cover" aria-label="Contact us"></a>
				<img src="./img/lets-talk-mob.png" width="173" height="189" alt="Let's talk" loading="lazy">
				<h2 class="uk-margin-remove">Want to find out more? <span class="underlined">Let’s talk</span>.</h2>
				{{> renderIcon name="find-out-more" viewBox="244 126" class="uk-position-bottom-center"}}
			</div>
		{{/inline}}
	{{/ukSection}}

	{{>notification}}

	{{>reviews}}
		
	{{#> ukSection}}
		{{#*inline "out"}}
			<div class="uk-border-rounded find-out-more right uk-text-center uk-position-relative uk-flex uk-flex-middle uk-overlow-hidden">
				<a href="#" class="uk-position-cover" aria-label="Contact us"></a>
				<img src="./img/lets-talk-mob-2.png" width="173" height="189" alt="Let's talk" loading="lazy">
				<h2 class="uk-h3 uk-margin-remove">Give us a call and we can chat through your requirements. <span class="underlined">Let’s talk</span>.</h2>
				{{> renderIcon name="find-out-more" viewBox="244 126" class="uk-position-bottom-center"}}
			</div>
		{{/inline}}
	{{/ukSection}}

	{{>updates}}

	{{>signupBanner}}

	{{>services items=items.services}}

	{{/inline}}
{{/main}}
