{{#> main}}
	{{#*inline "main"}}

	<div class="signup">

		<div class="uk-container uk-position-relative signup-container">

			{{#each page.questions}}
				{{#with this}}
				<div class="page uk-flex uk-flex-column uk-flex-between uk-overflow-hidden uk-margin-medium-bottom{{#if @first}} page-active{{/if}}{{#if directDebit}} uk-margin-large-top{{/if}}{{#if pageThankYou}} page-thank-you{{/if}}">
					<div class="page-content uk-margin-medium-bottom">
						<div class="page-info">
							{{>signupSteps}}
							{{#if title}}
								<div class="uk-h1 uk-margin-bottom">{{title}}</div>
							{{/if}}
						</div>

						<div class="page-enquiry">
							{{#each questions}}
								{{#with this}}

								{{#if (eq pageType "basic-info")}}
									{{>basicInfo}}
								{{/if}}		

								{{#if (eq pageType "business-info")}}
									{{>businessInfo}}									
								{{/if}}															

								{{#if (eq pageType "owner-info")}}
									{{>ownerInfo}}	
								{{/if}}

								{{#if (eq pageType "signup-confirm")}}
									{{>signupConfirm}}			
								{{/if}}

								{{#if (eq pageType "confirmation-progress")}}
									{{>confirmProgress}}								
								{{/if}}

								{{#if (eq pageType "signup-payment")}}
									{{>signupPayment}}
								{{/if}}

								{{#if (eq pageType "signup-thank-you")}}
									{{>signupThankYou}}
								{{/if}}

								{{#if (eq pageType "direct-debit")}}
									{{>directDebit}}
								{{/if}}

								{{#if (eq pageType "setup-account")}}
									<p>Informative page to tell the customer about the client area that they will have with Thyme.</p>
									<p>On screen they will also be told that they will have received an email with details to set up their client account.</p>
								{{/if}}

								{{/with}}
							{{/each}}
						</div>
					</div>
					
					{{#unless noSignupBottom}}
						{{>signupBottom}}
					{{/unless}}
				</div>
				{{/with}}
			{{/each}}
		</div>
	</div>

	{{>signupBanner}}

	{{>services items=items.services}}

	{{/inline}}
{{/main}}
