.banner {
    p:not(.uk-text-lead) {
        font-size: 17px;
        color: $black;
    }

    &-home {
        padding: 12px 0 100px;

        h1>span {
            font-weight: $semi-bold;
        }
    }

    @media (min-width: 1400px) {
        &-text {
            padding-right: 90px;
        }

        &-image {
            left: 60px;
        }
    }

    @media (min-width: $breakpoint-medium) {
        &-text {
            padding-right: 40px;
        }

        &-home {
            padding: 73px 0 115px;

            .checked-list {
                margin-left: 10px;
            }
        }
    }

    @media (max-width: $breakpoint-small-max) {
        .uk-container>.uk-flex {
            flex-direction: column;
        }
    }
}