.banner-slider {
    &-wrap {
        min-height: 470px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &-images {
        position: absolute;
        bottom: 133px;
        right: -28px;

        img {
            max-width: 115px;

            &:last-of-type {
                top: -30px;
                right: 33px;
            }
        }
    }

    a::after,
    a::before {
        display: none;
    }

    @media (min-width: $breakpoint-mobile) {
        &-images {

            img {
                max-width: 250px;
            }
        }
    }

    @media (min-width: $breakpoint-small) {
        &-images {
            bottom: 65px;

            img {
                max-width: 100%;
            }
        }
    }

    @media (min-width: $breakpoint-medium) {
        &-wrap {
            min-height: 597px;

            &::after {
                background-image: linear-gradient(to top, transparent, rgba($blue-light, .5), rgba($blue-light, .6), rgba($blue-light, .7), rgba($blue-light, .8));
                height: 75px;
                position: absolute;
                left: 0;
                width: 100%;
                content: '';
                background-color: transparent;
                display: block;
                pointer-events: none;
                z-index: 1;
                top: 0;
            }
        }

        &-images {
            right: -37px;
            max-width: 260px;
        }
    }

    @media (min-width: 1400px) {
        &-images {
            max-width: 100%;
            right: -90px;

            img {
                max-width: 100%;
            }
        }
    }

    @media (max-width: $breakpoint-small-max) {
        &-wrap {
            width: 100vw;
            left: -20px;
            max-width: 465px;
            margin: 40px auto;
        }
    }
}