.banner-menu {
    overflow: hidden;
    cursor: grab;
    min-height: 470px;

    &.is-dragging {
        cursor: grabbing;
    }

    &-item {
        counter-increment: count;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
    }

    ul {
        vertical-align: baseline;
    }

    li {
        padding: 7px 25px;
    }

    a {
        position: relative;
        background-color: $white;
        color: $grey-dark;
        font-weight: $semi-bold;
        text-align: center;
        padding: 5px 20px 3px 5px;
        border-radius: 50px;
        font-size: 12px;
        line-height: 1.5;
        display: inline-flex;
        user-select: none;
        align-items: center;
        transition: $transition;
        z-index: 1;

        span {
            width: 35px;
            height: 35px;
            background-color: $blue-light-2;
            border-radius: 50%;
            margin-right: 15px;
        }

        .uk-svg {
            color: $black;
            width: 20px;
            height: 20px;
        }

        @include hover {
            text-decoration: none;
            background-color: $blue-light-2;
        }
    }

    @media (min-width: $breakpoint-medium) {
        min-height: 597px;
    }
}