.calculator {
    .page {
        margin-top: 65px;
    }

    a {
        transition: $transition;

        svg {
            transition: inherit;
        }
    }

    .calculator-list {
        &:not(.checked)>li {
            counter-increment: number-counter 1;

            &::before {
                content: counter(number-counter);
            }
        }

        &.checked {
            >li {
                &::before {
                    background-image: url('data:image/svg+xml,%3Csvg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M6.40186 15.4143L0.443523 8.91429C0.0855575 8.52378 0.0855575 7.89061 0.443523 7.50007L1.73985 6.08585C2.09782 5.6953 2.67826 5.6953 3.03622 6.08585L7.05004 10.4645L15.6472 1.08585C16.0052 0.695342 16.5856 0.695342 16.9436 1.08585L18.2399 2.50007C18.5979 2.89058 18.5979 3.52374 18.2399 3.91429L7.69822 15.4143C7.34022 15.8048 6.75982 15.8048 6.40186 15.4143Z" fill="%23BB582A"/%3E%3C/svg%3E%0A');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        >li {
            margin-top: 40px;
            padding-left: 40px;

            &:last-of-type {
                margin-bottom: 30px;
            }

            &::before {
                position: absolute;
                left: 0;
                width: 30px;
                height: 30px;
                background-color: $blue-light;
                color: $secondary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: $medium;
                font-size: 18px;
                line-height: 1.5;
            }

            &:not(.list-within)::before {
                top: 2px;
            }

            &.list-within::before {
                top: -3px;
            }
        }
    }

    .calculator-steps li {
        font-size: 12px;
        letter-spacing: .1em;
        font-weight: $medium;
        line-height: 1.5;

        &:not(.calculator-step-active) {
            color: $grey;

            >span {
                background-color: $light-grey;
                color: inherit;
            }
        }

        &.calculator-step-active {
            color: $black;

            >span {
                background-color: $secondary;
                color: $white;
            }
        }

        >span {
            height: 40px;
            width: 40px;
            font-size: 18px;
        }

        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }

    .uk-button-primary.button-grey {
        background-image: none;
        background-color: $light-grey;
        box-shadow: 0 10px 40px rgba($secondary, .1);
        max-width: 307px;
        width: 100%;
        color: $grey-soft;

        @include hover {
            color: $white;
        }
    }

    @media (min-width: $breakpoint-small) {
        .calculator-list {
            &:not(.checked)>li {

                &::before {
                    font-size: 26px;
                }
            }

            >li:not(.list-within)::before {
                transform: translateY(-50%);
                top: 50%;
            }

            >li {
                padding-left: 95px;

                &::before {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    @media (min-width: $breakpoint-medium) {
        .calculator-list {
            &:not(.checked)>li {
                margin-top: 55px;
            }
        }
    }

    @media (max-width: $breakpoint-small-max) {
        .page-info {
            flex-direction: column;
        }
    }

    @media (max-width: $breakpoint-xsmall-max) {
        .uk-h3 {
            font-size: 16px;
        }

        .calculator-list {

            &.checked {
                >li {
                    &::before {
                        background-size: 11px;
                    }
                }
            }
        }

        .checked-list li::before {
            min-width: 35px;
            width: 35px;
            background-size: 10px;
        }
    }
}