.calculator-fees {
    padding: 50px 0;

    .uk-alert {
        filter: none;
        padding: 40px 50px 50px 40px;

        &-primary {
            @include blue-card-flower($primary-light-2);

            &::before {
                background-image: url('data:image/svg+xml,%3Csvg width="316" height="332" viewBox="0 0 316 332" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath opacity="0.05" fill-rule="evenodd" clip-rule="evenodd" d="M312.068 6.59431C299.505 19.661 286.519 38.1982 277.667 55.9391C267.808 75.5386 261.182 97.0505 258.002 119.359C256.889 127.539 256.412 150.113 257.207 159.568C260.705 200.998 278.515 244.075 308.728 284.283C316.891 295.119 317.951 296.447 318.323 296.447C319.012 296.553 329.136 283.433 334.118 276.05C356.592 242.641 372.494 204.822 378.325 170.615C380.711 156.752 381.028 152.556 380.975 135.559C380.975 121.802 380.764 118.19 379.809 111.817C374.827 78.7257 362.688 51.4242 340.744 24.0161C335.072 16.9518 319.542 0.645508 318.482 0.645508C318.111 0.645508 315.248 3.35418 312.068 6.59431ZM329.401 32.1432C350.709 58.1163 362.53 84.8869 367.088 117.5C368.148 125.361 367.989 148.944 366.823 157.868C361.84 194.783 347.264 231.645 323.888 266.383L318.641 274.244L315.99 270.632C297.332 245.137 282.438 214.595 275.653 187.878C271.359 171.041 269.875 159.195 269.875 142.464C269.822 129.132 270.671 120.846 273.162 108.47C279.363 77.7695 294.576 47.1749 315.778 22.7945L318.482 19.661L321.556 23.0605C323.305 24.9192 326.803 29.0093 329.401 32.1432ZM532.625 96.0413C498.277 100.715 468.117 117.287 448.134 142.411C431.437 163.498 421.525 189.047 417.072 222.775L416.754 225.271L371.594 268.986C346.734 292.994 324.736 314.293 322.669 316.312L318.853 319.924L272.844 276.741L226.782 233.558L226.411 229.839C224.131 207.903 220.156 193.455 211.993 177.255C193.706 141.03 160.577 117.5 114.197 107.727C107.942 106.399 93.5252 104.221 91.0335 104.221H89.6555L90.0269 109.107C90.9276 121.218 94.5854 138.003 99.4088 152.025C107.201 174.652 118.278 193.509 132.378 208.168C153.209 229.839 178.228 240.887 211.834 243.118L216.975 243.49L267.914 291.241C295.901 317.534 319.012 338.992 319.224 338.886C319.436 338.78 343.712 315.409 373.184 286.886L426.719 235.098L430.642 234.407C457.887 229.521 487.941 216.242 507.712 200.201C530.081 182.142 544.498 157.284 549.057 129.185C550.276 121.271 551.018 108.789 550.647 101.672L550.276 95.1913L544.074 95.2444C540.682 95.2975 535.54 95.616 532.625 96.0413ZM536.865 113.622C534.745 142.73 525.628 163.71 507.235 182.035C493.03 196.164 473.895 207.425 451.526 214.808C446.385 216.454 433.398 220.013 432.338 220.013C431.331 220.013 431.49 218.207 433.292 209.337C441.826 166.685 464.035 136.037 497.906 119.996C507.818 115.322 520.487 111.551 532.36 109.798C534.852 109.427 536.971 109.107 537.024 109.054C537.131 109.001 537.077 111.073 536.865 113.622ZM113.72 121.802C140.859 127.751 163.387 139.277 179.925 155.743C198.529 174.281 209.29 197.598 212.47 226.493L212.788 229.468L210.774 229.255C192.911 227.449 182.681 224.9 170.649 219.269C140.329 205.035 117.378 172.952 107.466 130.885C105.876 124.033 105.239 120.156 105.769 120.156C106.035 120.156 109.639 120.899 113.72 121.802ZM125.01 267.605C91.0335 269.783 57.5342 283.061 25.9956 306.804C15.5006 314.718 0.181641 327.997 0.181641 329.166C0.181641 330.175 12.4261 342.763 18.4686 347.969C48.1523 373.571 83.2421 389.452 118.915 393.436C127.184 394.339 144.888 394.498 152.892 393.701C187.133 390.302 221.693 376.385 254.822 352.696C258.055 350.359 260.811 348.394 260.864 348.288C261.182 348.022 253.019 337.399 252.596 337.399C252.331 337.399 250.687 338.514 248.832 339.842C246.977 341.17 242.1 344.516 237.966 347.225C211.569 364.647 185.384 375.217 158.404 379.466C148.28 381.059 124.586 381.219 115.205 379.732C105.398 378.192 97.5004 376.279 88.4364 373.252C65.2731 365.55 44.8658 353.386 25.2533 335.699L19.2108 330.228L20.9603 328.741C63.3647 292.303 108.314 276.475 152.043 282.477C184.907 286.992 218.141 302.927 250.104 329.378C268.974 344.994 292.35 369.533 311.485 393.755C315.301 398.641 318.641 402.678 318.853 402.678C319.011 402.731 320.655 400.66 322.457 398.057C338.359 375.801 363.271 349.297 385.693 330.865C419.564 302.98 452.109 287.364 486.51 282.371C495.15 281.096 512.642 281.096 521.759 282.371C553.933 286.78 586.691 302.608 616.109 327.997L618.441 329.963L615.049 333.468C607.575 341.064 595.225 350.465 583.51 357.53C562.573 370.118 541.371 377.501 518.26 380.21C508.242 381.379 488.948 381.006 479.089 379.413C470.767 378.032 459.318 375.323 451.791 372.827C432.02 366.293 409.863 354.767 391.417 341.436C388.661 339.47 386.117 337.717 385.746 337.558C384.951 337.239 376.788 347.968 377.371 348.5C378.961 349.828 386.276 354.927 392.16 358.804C422.479 378.722 451.685 389.824 483.065 393.436C492.658 394.551 515.292 394.286 523.614 392.958C557.326 387.54 586.267 374.686 613.777 352.749C620.456 347.438 635.138 333.255 637.047 330.334L638 328.847L634.131 325.288C599.995 294.056 565.754 275.732 530.186 269.676C507.553 265.852 485.662 266.967 462.657 273.129C422.426 283.858 380.922 311.531 344.296 352.006C336.769 360.398 326.856 372.455 321.662 379.519L319.011 383.184L317.951 381.697C307.456 367.25 290.972 348.234 278.357 336.071C236.906 296.022 193.918 273.235 150.453 268.348C145.047 267.764 129.834 267.286 125.01 267.605Z" fill="%23BB582A"/%3E%3C/svg%3E%0A');
            }
        }

        &-success {
            @include blue-card-flower($blue-light);
        }

        .uk-text-small:not(p) {
            font-weight: $medium;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: .1em;
            color: $white;
            border-radius: 4px;
            padding: 5px 10px;
        }

        p.uk-text-small {
            font-size: 17px;
        }

        .fee {
            font-weight: $medium;
            line-height: 1.3;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            padding-left: 38px;
            padding-right: 38px;
            z-index: 2;
            width: 100%;

            &.uk-background-default {
                padding-top: 18px;
                padding-bottom: 18px;
                font-size: 26px;
                max-width: 200px;
            }

            &:not(.uk-background-default) {
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 18px;
            }

            &.monthly {
                border-color: $secondary;
            }

            &.yearly {

                &.uk-background-default {
                    border-color: $primary;
                }

                &:not(.uk-background-default) {
                    background-color: $primary-light-2;
                    border-color: $grey;
                    color: $grey;
                }
            }
        }

        .uk-h3 {
            margin-bottom: 27px;
        }
    }

    @media (min-width: $breakpoint-large) {
        margin-left: -60px;

        >* {
            padding-left: 60px;
        }
    }
}