.direct-debit {
    >p:first-of-type {
        font-size: 16px;
    }

    .uk-button-primary {
        margin-top: 55px;
    }
}

.direct-debit-bottom {
    .uk-button-text {
        font-weight: $normal;

        &::before,
        &::after {
            display: none;
        }
    }

    p,
    p>* {
        line-height: 1.7;
        font-size: 14px;
    }
}