.find-out-more {
    background-color: $primary-light-2;
    padding: 95px 20px 75px;

    img {
        transform: translateX(-50%);
        position: absolute;
    }

    >a {
        z-index: 2;
    }

    .icon-find-out-more {
        width: 242px;
        z-index: 0;
        pointer-events: none;
    }

    h2 {
        >span {
            font-weight: inherit;
            color: $primary;
            @include underlined($blue: true);

            &::before {
                bottom: -10px;
                width: 100%;
            }
        }
    }

    &.left img {
        top: -22px;
        width: 91px;
    }

    &.right img {
        top: -30px;
        width: 120px;
    }

    @media (min-width: $breakpoint-medium) {

        &.left {
            padding: 50px 50px 50px 345px;

            img {
                width: 170px;
                left: 120px;
                transform: translateY(-50%);
                top: 50%;
            }
        }

        &.right {
            padding: 55px 260px 55px 55px;

            img {
                width: 225px;
                right: 32px;
                transform: translateY(-50%);
                top: 50%;
            }
        }
    }

    @media (max-width: $breakpoint-small-max) {
        img {
            left: 50%;
        }

        h2 {
            font-size: 26px;
        }
    }
}