.notification {

    h3 {
        margin-top: 22px;
    }

    .uk-card {
        padding: 35px 20px 25px;

        p {
            color: $grey-dark;

            &:last-of-type {
                margin-bottom: 40px;
            }
        }
    }

    .uk-card-body {
        padding: 0 10px 0 0;
    }
    @media (min-width: $breakpoint-medium) {

        .uk-card {
            padding: 40px;
            display: flex;
            align-items: center;
        }

        .uk-card-body {
            padding: 0 70px 0 0;
        }
    }

    @media (min-width: $breakpoint-large) {
        .uk-card {
            padding: 40px 60px 60px;
        }
    }
}