.responsive-scroll {
    position: absolute;
    top: -45px;
    left: 0;
    transform: translateY(-50%);
    width: 18px;

    .uk-svg {
        width: 10px;
        height: 10px;
        top: calc(100% + 5px);
    }

    &-box {
        position: relative;
        display: flex;
        justify-content: center;
        width: 16px;
        height: 24px;
        border: $secondary 2px solid;
        border-radius: 3px;
        transition: .45s ease;

        &::before,
        &::after {
            left: 50%;
            transform: translateX(-50%);
            background-color: $secondary;
            content: '';
            position: absolute;
            display: block;
        }

        &::before {
            width: 6.5px;
            height: 6.5px;
            max-height: 1.85px;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            transition: .45s ease;
        }

        &::after {
            bottom: 2px;
            width: 55%;
            height: .6px;
            max-height: .6px;
            border-radius: 50%;
            opacity: 1;
            transition: .95s ease;
        }

        @include hover {
            &::after {
                opacity: 1;
            }
        }

        .scroll {
            display: block;
            width: 2px;
            height: 12px;
            margin-top: 65%;
            border-radius: 50px 50px 3px 3px;
            background-color: $secondary;
            transform: translatex(2px) rotate(-45deg);
            transform-origin: top left;
            animation: responsive-scroll-rwd infinite 2.25s;
        }

        &:not(.is-not-touch) {
            ~.uk-svg {
                display: none;
            }
        }

        &.is-not-touch {
            border: $secondary 2px solid;
            border-radius: 25px;
            width: 18px;
            height: 31px;

            &::before {
                height: 3px;
                max-height: 3px;
            }

            &::after {
                opacity: 0;
            }

            &::before,
            &::after {
                max-height: 0;
            }

            .scroll {
                height: 4px;
                width: 4px;
                margin-top: 25%;
                border-radius: 50px;
                transform: translatex(0) rotate(0);
                animation: responsive-scroll infinite 2.25s;
            }
        }
    }

    @media (min-width: $breakpoint-small) {
        left: 30px;
        top: 5%;
    }

    @media (min-width: $breakpoint-medium) {
        left: -30px;
        top: 15%;
    }

    @media (min-width: $breakpoint-large) {
        top: 50%;
    }
}