.reviews {
    .uk-h1 {
        margin-bottom: 40px;
    }

    @media (min-width: $breakpoint-medium) {
        .uk-h1 {
            margin-bottom: 60px;
        }
    }

    @media (max-width: $breakpoint-small-max) {
        .uk-grid>div {
            display: flex;
            justify-content: center;
        }
    }
}