.services {

    li:not(:last-of-type) {
        margin-right: 2px;
    }

    @media (min-width: $breakpoint-medium) {

        li:not(:last-of-type) {
            margin-right: 80px;
        }
    }

    @media (max-width: $breakpoint-xsmall-max) {
        margin: 30px 0;
    }
}