.share {
    a {
        background-color: $primary-light-2;
        border: 2px solid $primary-light-2;
        height: 52px;
        width: 52px;
        transition: $transition;

        .uk-svg {
            color: $primary;
        }

        @include hover {
            background-color: transparent;
            border-color: $primary;
        }
    }

    .uk-svg {
        width: 20px;
        height: 20px;
    }
}