.signup-steps {
    li {
        font-size: 12px;
        font-weight: $medium;
        padding: 15px 20px 15px 15px;
        letter-spacing: .1em;

        .tick {
            border: 1px solid $blue-light-2;
            width: 20px;
            height: 20px;

            svg {
                width: 11px;
                height: 11px;
                color: $secondary;
            }
        }

        span:not(.tick) {
            position: absolute;
            bottom: 4px;
            font-size: 9px;
            color: rgba($secondary, .8);
            right: 20px;
            letter-spacing: .07em;
            line-height: 1.5;
        }

        &:not(.signup-step-completed) {

            svg {
                opacity: 0;
            }
        }

        &:not(.signup-step-active) {
            background-color: $blue-light;
            color: $grey-dark;
        }

        &.signup-step-active {
            background-color: $secondary;
            color: $white;

            span {
                color: $white;
            }
        }

        &.signup-step-completed {
            svg {
                opacity: 1;
            }
        }
    }

    @media (min-width: $breakpoint-mobile + 1) {
        li:not(:last-of-type) {
            margin-right: 20px;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        .uk-list {
            flex-direction: column;

            li {
                width: 100%;
            }
        }
    }
}