.signup {

	.tooltip {
		.uk-svg {
			width: 18px;
			height: 18px;
		}
	}

	.uk-button-default {
		color: $grey;
		border-color: $grey;

		svg {
			transition: $transition;
		}

		@include hover {
			border-color: $primary;
			color: $white;

			svg {
				color: $white;
			}
		}
	}

	.page-bottom {
		left: -20px;
		width: calc(100% + 40px);
		box-shadow: 0 10px 40px rgba($secondary, .1);
		padding: 20px 20px 10px;

		.uk-button-text {
			margin-left: 20px;
			margin-right: 20px;

			&::before,
			&::after {
				display: none;
			}

			svg {
				width: 20px;
				height: 20px;
			}

			@include hover {
				color: $grey-dark;

				svg {
					color: $grey-dark;
				}
			}
		}
	}

	h3 {
		margin: 30px 0 0;
	}

	.page {
		box-shadow: 0 10px 40px rgba($secondary, .2);
		background-color: $white;
		padding: 20px 15px 0;
		margin-top: 15px;
		z-index: 1;
		border-radius: 10px;

		&:not(.page-active) {
			display: none;
		}

		.uk-text-meta {
			color: $secondary;
		}
	}

	&:not(.calculator) .page-enquiry {

		*+.uk-grid-margin,
		.uk-grid+.uk-grid,
		.uk-grid>.uk-grid-margin {
			margin-top: 0;
		}
	}

	.uk-form-label {
		margin-top: 15px;
		margin-bottom: 10px;
		display: block;
	}

	@media (min-width: $breakpoint-large) {
		.page-bottom {
			left: -60px;
			width: calc(100% + 120px);
			padding: 45px 60px;

			.uk-button-text {
				margin-right: 50px;
			}
		}

		.page {
			padding: 40px 60px 0;
		}
	}

	@media (max-width: $breakpoint-small-max) {
		.page-bottom {
			.uk-button {
				margin-bottom: 20px;
			}
		}
	}
}