<ul data-uk-accordion>
    {{#each items}}
        {{#with this}}    
        <li {{#if opened}}class="uk-open"{{/if}}>
            <a class="uk-accordion-title uk-flex uk-flex-middle uk-flex-between" href="#">
                {{title}}
                {{> renderIcon name="chevron-down"}}
            </a>
            <div class="uk-accordion-content">
                <p>{{text}}</p>
            </div>
        </li>
        {{/with}}
    {{/each}}
</ul>