body {
	overflow-x: hidden;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

[data-uk-lightbox] a {
	cursor: zoom-in;
}

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

.circle-button,
.share a {
	background-color: $primary-light-2;
	transition: $transition;
	width: 50px;
	height: 50px;
	padding: 0;

	.uk-svg {
		color: $primary;
		width: 18px;
		height: 18px;
	}

	@include hover {
		background-color: $primary;

		svg {
			color: $white;
		}
	}

	&.scroll-up {
		box-shadow: 0 20px 30px rgba($orange, .2);
		position: absolute;
		bottom: 23px;
		right: 20px;
	}

	@media (min-width: $breakpoint-medium) {
		&.scroll-up {
			bottom: 56px;
			right: 34px;
		}
	}
}

.underlined {
	font-weight: $semi-bold;
	@include underlined;
}

.checked-list {
	@include checked-list-items;
}