p>a,
ul:not(.uk-navbar-nav):not(.mm-listview) li>a,
ol:not(.uk-navbar-nav) li>a {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: $primary;
        z-index: -1;
        height: 1px;
        bottom: 0;
        left: 0;
    }

    &::before {
        width: 0%;
        transition: ease .4s;
    }

    &::after {
        width: 100%;
        transition: ease .6s;
    }

    @include hover {

        &::before {
            width: 100%;
        }

        &::after {
            left: 100%;
            width: 0%;
            transition: ease .2s;
        }
    }
}

ol {
    padding-left: 0;
    list-style: none;
    counter-reset: item;

    li {
        counter-increment: item;

        &::before {
            margin-right: 15px;
            content: counter(item) '.';
            border-radius: 100%;
            color: $grey-dark;
            display: inline-block;
        }
    }
}
