.calculator-page {
	// position: relative;
	// min-height: 100vh;

	.tooltip {
		.uk-svg {
			width: 18px;
			height: 18px;
		}
	}

	.uk-button-default {
		color: $grey;
		border-color: $grey;

		svg {
			transition: $transition;
		}

		@include hover {
			border-color: $primary;
			color: $white;

			svg {
				color: $white;
			}
		}
	}

	.uk-position-bottom .uk-button-text {
		margin-right: 20px;

		&::before,
		&::after {
			display: none;
		}

		svg {
			width: 20px;
			height: 20px;
		}

		@include hover {
			color: $grey-dark;

			svg {
				color: $grey-dark;
			}
		}
	}

	h3 {
		margin: 30px 0 0;
	}

	.page {
		filter: drop-shadow(0 10px 40px rgba($secondary, .1));
		background-color: $white;
		padding: 20px 15px 80px;
		margin-top: 15px;
		z-index: 1;
		border-radius: 10px;

		&:not(.page-active) {
			display: none;
		}

		&-content {
			padding-bottom: 10px;
		}

		>.uk-position-bottom {
			box-shadow: 0 10px 40px rgba($secondary, .1);
			padding: 8px 10px 7px;
		}

		.uk-text-meta {
			color: $secondary;
		}
	}

	.add-button-wrap {
		margin-top: 25px;

		button {
			padding-right: 35px;
			color: $secondary;
			font-size: 16px;

			@include hover {
				opacity: .7;
			}

			svg {
				margin-left: 15px;
				width: 16px;
			}
		}
	}

	.unselectable {
		user-select: none;
	}

	.page-enquiry {

		*+.uk-grid-margin,
		.uk-grid+.uk-grid,
		.uk-grid>.uk-grid-margin {
			margin-top: 0;
		}
	}

	.uk-form-label {
		margin-top: 15px;
		margin-bottom: 10px;
		display: block;
	}

	@media (min-width: $breakpoint-medium) {
		.uk-position-bottom .uk-button-text {
			margin-right: 50px;
		}

		.page {
			top: 50px;
			min-height: 570px;
			padding: 40px 60px 167px;

			&-content {
				padding-bottom: 50px;

				>.uk-flex {
					flex-direction: row-reverse;
				}
			}

			>.uk-position-bottom {
				padding: 45px 60px;
			}
		}
	}

	@media (min-width: 1280px) {
		.page {
			max-width: 1200px;
		}
	}

	// @media (max-width: $breakpoint-small-max) {

	// 	.page {
	// 		&-content {
	// 			>.uk-flex {
	// 				flex-direction: column;
	// 				align-items: center;
	// 			}
	// 		}
	// 	}
	// }

	@media (max-width: $breakpoint-xsmall-max) {
		.page {
			// &-content {
			// 	text-align: center;
			// }

			&.page-last {
				padding-bottom: 150px;
			}
		}
	}
}