.calculator-page {
	// &-active {
	// 	position: relative;
	// 	min-height: 100vh;

	// 	.banner {
	// 		display: none;

	// 		.uk-button-primary {
	// 			pointer-events: none;
	// 		}
	// 	}
	// }

	.font-info {
		position: relative;
		bottom: -2px;
		right: auto;

		&::before {
			color: $secondary;
			font-size: 20px;
		}
	}

	.page {
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		top: 20px;
		background-color: $white;
		width: 100%;
		max-width: calc(100% - 40px);
		padding: 20px 15px 80px;
		z-index: 1;

		&:not(.page-active) {
			display: none;
		}

		&-content {
			padding-bottom: 10px;
		}

		>.uk-position-bottom {
			padding: 8px 10px 7px;

			.uk-button:last-of-type {
				margin-left: 5px;
			}
		}

		.uk-text-meta {
			color: $secondary;
		}
	}

	.uk-button-secondary.calc-button-back {
		padding: 7px 33px 10px 43px;
	}

	@for $i from 1 through 7 {
		.page:nth-child(#{$i}) {
			z-index: #{$i+1};
		}
	}

	.calc-steps {
		li {
			width: 13px;
			height: 13px;
			// background-color: $blue-lightest-6;
			margin: 0;

			&:not(:last-child)::before {
				content: '';
				position: absolute;
				left: 100%;
				width: 13px;
				top: 50%;
				transform: translateY(-50%);
				background-color: inherit;
				height: 1px;
			}
		}
	}

	.add-button-wrap {
		margin-top: 25px;

		button {
			padding-right: 35px;
			color: $secondary;
			font-size: 16px;

			@include hover {
				opacity: .7;
			}

			svg {
				margin-left: 15px;
				width: 16px;
			}
		}
	}

	.unselectable {
		user-select: none;
	}

	@media (min-width: $breakpoint-medium) {

		.page {
			top: 50px;
			min-height: 650px;
			padding: 60px 60px 70px;

			&-content {
				padding-bottom: 50px;

				>.uk-flex {
					flex-direction: row-reverse;
				}
			}

			.page-enquiry {
				padding-right: 70px;
			}

			// .uk-button-secondary:not(.calc-button-back) {
			// 	max-width: 335px;
			// 	width: 100%;
			// }
		}

		// .uk-button-secondary.calc-button-back {
		// 	padding: 7px 35px 10px 70px;

		// 	&::before {
		// 		left: 30px;
		// 	}
		// }

		.calc-steps {
			margin-bottom: 40px;
		}
	}

	@media (min-width: 1280px) {
		.page {
			max-width: 1200px;
		}
	}

	@media (max-width: $breakpoint-small-max) {

		.page {
			&-content {
				>.uk-flex {
					flex-direction: column;
					align-items: center;
				}
			}
		}
	}

	@media (max-width: $breakpoint-xsmall-max) {
		.page {
			&-content {
				text-align: center;
			}

			&.page-last {
				padding-bottom: 150px;

				>.uk-position-bottom {
					padding-bottom: 0;

					.uk-button {
						margin-bottom: 10px;
					}
				}
			}
		}

		.uk-button-secondary.calc-button {
			padding: 7px 44px 10px 35px;
		}
	}
}
