//
// Main
//

// Background Icon
@mixin bg-icon($icon) {
	background-image: url('data:image/svg+xml;utf8,'+ $icon);
	background-repeat: no-repeat;
}

// Hover
@mixin hover {

	&:hover,
	&:focus,
	&:active,
	&.uk-open,
	&.uk-active {
		@content;
	}
}

// Image caption
@mixin image-caption {
	font-size: 14px;
	opacity: .7;
	color: $grey-dark;
	padding: $global-small-margin;
	text-align: center;
}

// Pseudo Icon
@mixin pseudo-icon($icon) {
	@include bg-icon($icon);
	content: '';
	background-size: contain;
	display: inline-block;
}

// Truncate text
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Checked list items 
@mixin checked-list-items {
	li {
		font-size: 15px;
		position: relative;
		display: flex;
		align-items: center;

		&::before {
			position: relative;
			background-image: url('data:image/svg+xml,%3Csvg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M6.40186 15.4143L0.443523 8.91429C0.0855575 8.52378 0.0855575 7.89061 0.443523 7.50007L1.73985 6.08585C2.09782 5.6953 2.67826 5.6953 3.03622 6.08585L7.05004 10.4645L15.6472 1.08585C16.0052 0.695342 16.5856 0.695342 16.9436 1.08585L18.2399 2.50007C18.5979 2.89058 18.5979 3.52374 18.2399 3.91429L7.69822 15.4143C7.34022 15.8048 6.75982 15.8048 6.40186 15.4143Z" fill="%23BB582A"/%3E%3C/svg%3E%0A');
			width: 18px;
			height: 18px;
			background-repeat: no-repeat;
			background-position: center;
			margin-right: 10px;
			margin-bottom: 0;
			left: auto;
		}
	}

	@media (min-width: $breakpoint-medium) {
		li {
			font-size: 17px;
		}
	}
}

// Underlined
@mixin underlined($blue: false) {
	position: relative;
	display: inline-block;
	z-index: 1;

	&::before {
		position: absolute;
		z-index: -1;

		@if $blue {
			background-image: url('data:image/svg+xml,%3Csvg width="158" height="11" viewBox="0 0 158 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M152.8 2.20537C152.8 -0.057806 115.121 -0.924284 72.1043 3.79842C29.0878 8.52112 1.22891 -1.74874 0.19043 3.79842C0.19043 6.0616 7.5178 10.0317 42.985 10.1886C71.7679 10.316 123.024 3.6224 145.306 5.867C167.588 8.1116 152.8 2.91116 152.8 2.20537Z" fill="%23B7DEE6"/%3E%3C/svg%3E%0A');
		}@else {
			background-image: url('data:image/svg+xml,%3Csvg width="168" height="24" viewBox="0 0 168 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M167.485 6.72266C167.485 -0.790735 118.787 1.1538 78.8396 1.1538C38.8923 1.1538 0.798828 -0.790735 0.798828 6.72266C0.798828 14.2361 6.15892 24 46.1062 24C95.7144 20.2971 167.485 26.8777 167.485 6.72266Z" fill="%23FBE7DF"/%3E%3C/svg%3E%0A');
		}

		background-repeat: no-repeat;
		display: block;
		content: '';
		width: 100%;
		height: 23px;
		bottom: 0;
		background-position: center;
		background-size: 100% auto;
	}
}

@mixin button-hover($color) {
	overflow: hidden;
	z-index: 1;

	&::before {
		position: absolute;
		content: '';
		width: 360px;
		height: 360px;
		pointer-events: none;
		left: 50%;
		transform: scale(0) translate(-50%, -50%);
		top: 50%;
		transform-origin: center;
		border-radius: 50%;
		background-color: $color;
		transition: .4s ease-in-out;
		z-index: -1;
	}

	@include hover {
		&::before {
			transform: scale(1) translate(-50%, -50%);
		}
	}
}

@mixin light-circle($size) {
	&::before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		background-color: $primary-light-2;
		content: '';
		border-radius: 50%;
		z-index: 0;
		display: block;
		width: $size;
		height: $size;
		max-width: 360px;
		max-height: 360px;
	}
}


//
// UIkit
// https://github.com/uikit/uikit/tree/master/src/scss
//
// Imports UIkit mixin overrides for the theme
// These are not used by main.scss, although loaded
//
// ========================================================================

// Base
@import 'uikit/base';

// Elements
@import 'uikit/table';
@import 'uikit/form';
@import 'uikit/button';

// Layout
@import 'uikit/card';

// Navs
@import 'uikit/navbar';
@import 'uikit/breadcrumb';

// Utilities
@import 'uikit/text';

// List
@import 'uikit/list';

// Slideshow
@import 'uikit/slideshow';

// Overlay
@import 'uikit/overlay';

// Accordion
@import 'uikit/accordion';

// Alert
@import 'uikit/alert';

// Slider
@import 'uikit/slider';