//
// Main
//

// Background Icon
@mixin bg-icon($icon) {
	background-image: url('data:image/svg+xml;utf8,'+ $icon);
	background-repeat: no-repeat;
}

// Hover
@mixin hover {

	&:hover,
	&:focus,
	&:active,
	&.uk-open,
	&.uk-active {
		@content;
	}
}

// Image caption
@mixin image-caption {
	font-size: 14px;
	opacity: .7;
	color: $grey-dark;
	padding: $global-small-margin;
	text-align: center;
}

// Pseudo Icon
@mixin pseudo-icon($icon) {
	@include bg-icon($icon);
	content: '';
	background-size: contain;
	display: inline-block;
}

// Truncate text
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Checked list items 
@mixin checked-list-items {
	li {
		font-size: 15px;
		position: relative;
		display: flex;
		align-items: center;

		&::before {
			position: relative;
			background-image: url('data:image/svg+xml,%3Csvg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M6.40186 15.4143L0.443523 8.91429C0.0855575 8.52378 0.0855575 7.89061 0.443523 7.50007L1.73985 6.08585C2.09782 5.6953 2.67826 5.6953 3.03622 6.08585L7.05004 10.4645L15.6472 1.08585C16.0052 0.695342 16.5856 0.695342 16.9436 1.08585L18.2399 2.50007C18.5979 2.89058 18.5979 3.52374 18.2399 3.91429L7.69822 15.4143C7.34022 15.8048 6.75982 15.8048 6.40186 15.4143Z" fill="%23BB582A"/%3E%3C/svg%3E%0A');
			width: 18px;
			height: 18px;
			background-repeat: no-repeat;
			background-position: center;
			margin-right: 10px;
			margin-bottom: 0;
			left: auto;
		}
	}

	@media (min-width: $breakpoint-medium) {
		li {
			font-size: 17px;
		}
	}
}

// Underlined
@mixin underlined($blue: false) {
	position: relative;
	display: inline-block;
	z-index: 1;

	&::before {
		position: absolute;
		z-index: -1;

		@if $blue {
			background-image: url('data:image/svg+xml,%3Csvg width="158" height="11" viewBox="0 0 158 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M152.8 2.20537C152.8 -0.057806 115.121 -0.924284 72.1043 3.79842C29.0878 8.52112 1.22891 -1.74874 0.19043 3.79842C0.19043 6.0616 7.5178 10.0317 42.985 10.1886C71.7679 10.316 123.024 3.6224 145.306 5.867C167.588 8.1116 152.8 2.91116 152.8 2.20537Z" fill="%23B7DEE6"/%3E%3C/svg%3E%0A');
		}@else {
			background-image: url('data:image/svg+xml,%3Csvg width="168" height="24" viewBox="0 0 168 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M167.485 6.72266C167.485 -0.790735 118.787 1.1538 78.8396 1.1538C38.8923 1.1538 0.798828 -0.790735 0.798828 6.72266C0.798828 14.2361 6.15892 24 46.1062 24C95.7144 20.2971 167.485 26.8777 167.485 6.72266Z" fill="%23FBE7DF"/%3E%3C/svg%3E%0A');
		}

		background-repeat: no-repeat;
		display: block;
		content: '';
		width: 100%;
		height: 23px;
		bottom: 0;
		background-position: center;
		background-size: 100% auto;
	}
}

@mixin button-hover($color) {
	overflow: hidden;
	z-index: 1;

	&::before {
		position: absolute;
		content: '';
		width: 360px;
		height: 360px;
		pointer-events: none;
		left: 50%;
		transform: scale(0) translate(-50%, -50%);
		top: 50%;
		transform-origin: center;
		border-radius: 50%;
		background-color: $color;
		transition: .4s ease-in-out;
		z-index: -1;
	}

	@include hover {
		&::before {
			transform: scale(1) translate(-50%, -50%);
		}
	}
}

@mixin light-circle($size) {
	&::before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		background-color: $primary-light-2;
		content: '';
		border-radius: 50%;
		z-index: 0;
		display: block;
		width: $size;
		height: $size;
		max-width: 360px;
		max-height: 360px;
	}
}

@mixin on-circle($item-count, $circle-size, $item-size) {
	position: relative;
	width: $circle-size;
	height: $circle-size;
	padding: 0;
	border-radius: 50%;
	list-style: none;

	>* {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		margin: -($item-size / 2);

		$angle: (360 / $item-count);
		$rot: 0;

		@for $i from 1 through $item-count {
			&:nth-of-type(#{$i}) {
				transform:
					rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
			}

			$rot: $rot + $angle;
		}
	}
}

@mixin blue-card-flower {
	position: relative;
    overflow: hidden;
	background-color: $blue-light;
    filter: drop-shadow(0 10px 40px rgba($black, .1));

    &::before {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
        width: 180px;
        height: 190px;
        background-image: url('data:image/svg+xml,%3Csvg width="182" height="191" viewBox="0 0 182 191" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M177.997 4.25206C170.837 11.6994 163.436 22.2647 158.391 32.3761C152.771 43.5468 148.995 55.8075 147.182 68.5221C146.548 73.1844 146.276 86.0503 146.729 91.4391C148.723 115.052 158.874 139.604 176.094 162.52C180.746 168.696 181.35 169.453 181.562 169.453C181.955 169.514 187.725 162.036 190.565 157.828C203.374 138.786 212.437 117.232 215.761 97.7357C217.12 89.8345 217.301 87.4431 217.271 77.7557C217.271 69.9146 217.15 67.8561 216.606 64.2235C213.767 45.3633 206.848 29.8028 194.341 14.1816C191.108 10.1553 182.257 0.861542 181.653 0.861542C181.441 0.861542 179.81 2.40535 177.997 4.25206ZM187.876 18.8136C200.021 33.617 206.758 48.8749 209.356 67.4627C209.96 71.9432 209.869 85.3843 209.205 90.4702C206.365 111.51 198.057 132.52 184.734 152.319L181.743 156.799L180.233 154.74C169.599 140.209 161.109 122.802 157.242 107.575C154.795 97.9781 153.949 91.227 153.949 81.6911C153.919 74.0925 154.403 69.3699 155.823 62.3162C159.357 44.8183 168.028 27.3809 180.112 13.4853L181.653 11.6994L183.405 13.6369C184.402 14.6963 186.396 17.0275 187.876 18.8136ZM303.704 55.2323C284.127 57.8963 266.937 67.3414 255.548 81.6609C246.031 93.6792 240.382 108.241 237.844 127.464L237.663 128.887L211.924 153.802C197.755 167.485 185.217 179.625 184.039 180.775L181.864 182.834L155.641 158.222L129.388 133.61L129.177 131.49C127.878 118.988 125.612 110.753 120.96 101.52C110.537 80.8735 91.6553 67.4627 65.221 61.8923C61.656 61.1355 53.4389 59.8943 52.0188 59.8943H51.2334L51.445 62.6794C51.9584 69.5818 54.0432 79.1482 56.7922 87.1402C61.2332 100.037 67.547 110.784 75.5832 119.139C87.4559 131.49 101.715 137.787 120.869 139.059L123.799 139.271L152.832 166.486C168.783 181.472 181.955 193.702 182.076 193.641C182.197 193.581 196.033 180.261 212.83 164.004L243.343 134.488L245.578 134.094C261.107 131.309 278.236 123.741 289.505 114.598C302.253 104.305 310.471 90.1374 313.069 74.1227C313.764 69.612 314.187 62.4978 313.975 58.4413L313.764 54.7478L310.229 54.7781C308.296 54.8084 305.365 54.9899 303.704 55.2323ZM306.12 65.2526C304.912 81.8424 299.716 93.8002 289.233 104.244C281.136 112.297 270.23 118.715 257.481 122.923C254.551 123.862 247.149 125.89 246.545 125.89C245.971 125.89 246.062 124.861 247.089 119.805C251.953 95.4956 264.611 78.028 283.916 68.8855C289.565 66.2215 296.785 64.0719 303.552 63.073C304.973 62.8612 306.181 62.6793 306.211 62.6491C306.272 62.6188 306.241 63.7995 306.12 65.2526ZM64.9489 69.9146C80.4168 73.3054 93.2563 79.8747 102.682 89.2592C113.286 99.8248 119.419 113.115 121.231 129.583L121.413 131.279L120.265 131.158C110.084 130.128 104.253 128.675 97.3954 125.466C80.1148 117.353 67.0337 99.0677 61.3842 75.0913C60.478 71.1861 60.1154 68.9763 60.4173 68.9763C60.5686 68.9763 62.6229 69.4002 64.9489 69.9146ZM71.3838 153.015C52.0188 154.256 32.9258 161.824 14.9504 175.356C8.96882 179.867 0.237793 187.435 0.237793 188.101C0.237793 188.677 7.21651 195.851 10.6604 198.818C27.5786 213.41 47.5781 222.462 67.9097 224.732C72.6225 225.247 82.7129 225.337 87.2747 224.884C106.791 222.946 126.488 215.014 145.37 201.513C147.213 200.18 148.783 199.06 148.814 199C148.995 198.848 144.342 192.794 144.101 192.794C143.95 192.794 143.013 193.43 141.956 194.186C140.899 194.943 138.119 196.85 135.763 198.394C120.718 208.324 105.794 214.348 90.4166 216.77C84.6464 217.678 71.1422 217.769 65.795 216.921C60.206 216.044 55.7046 214.954 50.5385 213.228C37.3366 208.839 25.7055 201.906 14.5274 191.825L11.0835 188.707L12.0806 187.859C36.2489 167.092 61.8677 158.07 86.7913 161.491C105.522 164.065 124.464 173.147 142.681 188.223C153.436 197.123 166.759 211.109 177.665 224.914C179.84 227.699 181.743 229.999 181.864 229.999C181.955 230.03 182.891 228.849 183.918 227.366C192.982 214.681 207.181 199.575 219.96 189.07C239.264 173.177 257.814 164.276 277.42 161.431C282.345 160.704 292.314 160.704 297.51 161.431C315.848 163.944 334.518 172.965 351.285 187.436L352.614 188.556L350.681 190.554C346.421 194.883 339.382 200.241 332.706 204.267C320.773 211.442 308.688 215.65 295.516 217.194C289.807 217.86 278.81 217.648 273.191 216.74C268.448 215.953 261.922 214.409 257.632 212.986C246.364 209.262 233.736 202.693 223.222 195.095C221.652 193.974 220.201 192.975 219.99 192.885C219.537 192.703 214.884 198.818 215.217 199.121C216.123 199.878 220.292 202.784 223.645 204.994C240.926 216.346 257.572 222.673 275.457 224.732C280.925 225.368 293.825 225.216 298.568 224.46C317.782 221.372 334.277 214.046 349.956 201.543C353.763 198.515 362.131 190.432 363.219 188.767L363.762 187.92L361.557 185.891C342.101 168.091 322.585 157.647 302.314 154.195C289.414 152.016 276.937 152.651 263.826 156.163C240.896 162.278 217.241 178.051 196.365 201.119C192.075 205.902 186.426 212.774 183.465 216.8L181.955 218.889L181.35 218.042C175.369 209.807 165.973 198.97 158.783 192.037C135.159 169.211 110.658 156.224 85.8851 153.438C82.8035 153.106 74.1332 152.833 71.3838 153.015Z" fill="%23B7DEE6"/%3E%3C/svg%3E%0A');
        z-index: 1;
        pointer-events: none;
		display: block;
    }
}


//
// UIkit
// https://github.com/uikit/uikit/tree/master/src/scss
//
// Imports UIkit mixin overrides for the theme
// These are not used by main.scss, although loaded
//
// ========================================================================

// Base
@import 'uikit/base';

// Elements
@import 'uikit/table';
@import 'uikit/form';
@import 'uikit/button';

// Layout
@import 'uikit/card';

// Navs
@import 'uikit/navbar';
@import 'uikit/breadcrumb';

// Utilities
@import 'uikit/text';

// List
@import 'uikit/list';

// Slideshow
@import 'uikit/slideshow';

// Overlay
@import 'uikit/overlay';

// Accordion
@import 'uikit/accordion';

// Alert
@import 'uikit/alert';

// Slider
@import 'uikit/slider';

// Slider
@import 'uikit/tooltip';