//
// Main
//
// ========================================================================

//
// Typography
//

// Family
$font-default: 'Lexend', sans-serif;

// Size
$font-size: 19px;

// Weight
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Line Height
$line-height: 1.7;


//
// Colours
//
$white: #fff;
$black: #241d1e;
$primary: #a33f11;
$primary-light: #f9e5dc;
$primary-light-2: #fcf2ee;
$primary-underlined: #fbe7df;
$secondary: #327a8f;
$blue: #185099;
$blue-light: #ebf6fa;
$blue-light-2: #b7dee6;
$blue-darker: #0c3348;
$blue-2: #d3dbe1;
$blue-3: #a5d5df;
$success: #def2f8;
$warning: #ffead3;
$danger: #ffdee2;
$grey: #727274;
$grey-dark: #353638;
$orange: #d26836;
$orange-2: #bb582a;
$light-grey: #f0f0f0;
$off-white: lighten($light-grey, 20%);


//
// Other
//

// Animation
$speed: 256ms;
$speed-fast: $speed / 2;
$speed-slow: $speed * 2;
$timing: ease-in-out;
$transition: $speed $timing;


//
// UIkit Global Variables
// https://github.com/uikit/uikit/blob/master/src/scss/components/variables.scss
//
// Imports UIkit variable overrides for the theme
// These may be used by main.scss
//
// ========================================================================

@import 'uikit/variables';

//
// Mmenu Global Variables
// https://github.com/FrDH/mmenu-js/blob/master/src/_variables.scss
//
// Imports Mmenu variable overrides for the theme
// These may be used by main.scss
//
// ========================================================================

@import 'mmenu/variables';
