.footer {
	padding-bottom: 30px;

	.share a {
		width: 48px;
		height: 48px;
	}

	.uk-logo {
		margin-bottom: 40px;

		img {
			width: 144px;
		}
	}

	.icon-whatsapp-green {
		width: 22px;
		height: 22px;
	}

	&-contact {
		.uk-list {
			&:first-of-type {
				margin-bottom: 50px;
			}

			>:nth-child(n+2) {
				margin-top: 15px;
			}

			span {
				margin-right: 5px;
			}
		}
	}

	&-top {
		border-top: 3px dashed $primary-light-2;
		padding: 50px 0;

		div>span {
			font-weight: $semi-bold;
			font-size: 17px;
		}

		li {
			span {
				font-size: 16px;
			}

			a {
				font-size: 16px;
			}
		}
	}

	.uk-list {
		margin-top: 15px;
	}

	a:not([href^='mailto']):not([href^='tel']):not(.whatsapp) {
		color: $grey;

		&::before,
		&::after {
			display: none;
		}

		@include hover {
			color: $primary;
		}
	}

	.contact {
		li a {
			font-size: 16px;
		}
	}

	&-bottom {
		* {
			font-size: 14px;
		}
	}

	.icon-footer-flower {
		max-width: 732px;
		z-index: 0;
		pointer-events: none;
	}

	@media (max-width: $breakpoint-mobile) {
		font-size: 0.8rem;
	}

	.legal {
		padding: $global-small-margin 0;

		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				list-style: none;
				margin: 0;

				&:not(:first-of-type) {
					padding: 0 $global-small-margin;
				}

				&:first-of-type {
					padding-right: $global-small-margin;
				}

				&:last-of-type {
					padding-right: 2 * $global-small-margin;
				}

				@media (max-width: $breakpoint-mobile) {
					display: block;
				}
			}
		}
	}

	.watermark,
	.copyright {
		color: $grey;
	}

	.watermark {

		a {
			@include hover {
				color: #e11e2f;
				text-decoration: none;
			}

			img {
				height: 16px;
				margin-left: 2px;
				width: auto;
			}
		}
	}

	@media (min-width: $breakpoint-medium) {
		padding-bottom: 70px;

		.uk-logo {
			margin-bottom: 190px;
		}

		&-top {
			padding: 90px 0 45px;
		}
	}

	@media (max-width: $breakpoint-xsmall-max) {
		&-social {
			align-items: center;
			display: flex;
			flex-direction: column;
		}

		&-bottom>.uk-container>.uk-flex,
		.copyright~.uk-flex {
			flex-direction: column;
			align-items: flex-start;
		}

		.copyright {
			margin-bottom: 24px;
			padding-right: 71px;
		}

		.legal ul li {
			display: block;
			text-align: left;
			margin-bottom: 10px;

			&:not(:first-of-type),
			&:first-of-type,
			&:last-of-type {
				padding: 0;
			}
		}
	}
}