.header {
	padding: 7px 20px 4px 5px;

	.uk-logo {
		img {
			width: 76px;
		}
	}

	@media (min-width: $breakpoint-medium) {
		padding: 10px 40px 0 10px;

		.uk-logo img {
			width: 137px;
		}
	}

	@media (min-width: $breakpoint-large) {
		padding: 10px 60px 0 30px;
	}
}