<div class="banner-home uk-cover-container uk-position-relative">
    {{#> ukContainer size=(default page.banner.size (default page.ukContainer ukContainer))}}
		{{#*inline "out"}}
			{{#> ukGrid class=(default class "uk-child-width-1-2@m uk-grid-large")}}
				{{#*inline "cells"}}
				<div>
					<h1>{{page.h1}}<span class="underlined uk-text-secondary">{{{page.underlined}}}</span></h1>
					{{#if (neq page.name "home")}}{{> ukBreadcrumb}}{{/if}}
					{{#if page.banner.textLead}}
						<p class="uk-text-lead">{{page.banner.textLead}}</p>
					{{/if}}
					{{#each page.banner.texts}}
						{{#with this}}
						<p>{{text}}</p>	
						{{/with}}
					{{/each}}
				</div>
				<div>
					<div class="banner-image uk-position-relative">
						<img src="./img/signup-header.png" loading="lazy" width="468" height="468" alt="Sign Up">
					</div>
				</div>
				{{/inline}}
			{{/ukGrid}}
		{{/inline}}
    {{/ukContainer}}
</div>