{{#> ukGrid class=(default class "uk-child-width-1-2@m")}}
    {{#*inline "cells"}}
        <div>
            {{> nbInput label="Full Name" name="full-name" title="Please enter your full name"}}
        </div>
        <div>
            {{> nbInput label="Email Address" name="email-address" title="Please enter email address" type="email"}}
        </div>
    {{/inline}}
{{/ukGrid}}	