<ul class="calculator-list uk-list">
    <li class="uk-position-relative">
        <span class="uk-h3 uk-display-block">Are you already a contractor or freelanceer?</span>
        {{#> ukGrid class=(default class "uk-grid-small uk-child-width-1-2@m")}}
            {{#*inline "cells"}}
                <div>
                    {{> nbRadio label="Yes" name="contractor-or-freelanceer-yes" title="Please check if you are already a contractor or freelanceer?"}}
                </div>
                <div>
                    {{> nbRadio label="No" name="contractor-or-freelanceer-no" title="Please check if you are already a contractor or freelanceer?"}}
                </div>
            {{/inline}}
        {{/ukGrid}}
    </li>
    <li class="uk-position-relative">
        <span class="uk-h3 uk-display-block">Are you happy to proceed with forming a limited company within which you can run your contractor or freelance business?</span>
        {{#> ukGrid class=(default class "uk-grid-small uk-child-width-1-2@m")}}
            {{#*inline "cells"}}
                <div>
                    {{> nbRadio label="Ltd Co" name="ltd-co" title="Please check if you are happy to proceed with forming a limited company within which you can run your contractor or freelance business?"}}
                </div>
                <div>
                    {{> nbRadio label="Sole Trader" name="sole-trader" title="Please check if you are happy to proceed with forming a limited company within which you can run your contractor or freelance business?"}}
                </div>
            {{/inline}}
        {{/ukGrid}}
    </li>
    <li class="uk-position-relative">
        <span class="uk-h3 uk-display-block">Will you consider using Natwest, RBS or Mettle for your business bank account?</span>
        {{#> ukGrid class=(default class "uk-grid-small uk-child-width-1-3@m")}}
            {{#*inline "cells"}}
                <div>
                    {{> nbRadio label="Yes" name="natwest-rbs-or-mettle-yes" title="Please check if you are willing to consider using Natwest, RBS or Mettle for your business bank account?"}}
                </div>
                <div>
                    {{> nbRadio label="No" name="natwest-rbs-or-mettle-no" title="Please check if you are willing to consider using Natwest, RBS or Mettle for your business bank account?"}}
                </div>
                <div>
                    {{> nbRadio label="Unsure" name="natwest-rbs-or-mettle-unsure" title="Please check if you are willing to consider using Natwest, RBS or Mettle for your business bank account?"}}
                </div>
            {{/inline}}
        {{/ukGrid}}
    </li>
    <li class="uk-position-relative">
        <span class="uk-h3 uk-display-block">Do you expect your annual turnover to be more than £85,000?</span>
        {{#> ukGrid class=(default class "uk-grid-small uk-child-width-1-3@m")}}
            {{#*inline "cells"}}
                <div>
                    {{> nbRadio label="Yes" name="natwest-rbs-or-mettle-yes" title="Please check if you are expecting your annual turnover to be more than £85,000?"}}
                </div>
                <div>
                    {{> nbRadio label="No" name="natwest-rbs-or-mettle-no" title="Please check if you are expecting your annual turnover to be more than £85,000?"}}
                </div>
                <div>
                    {{> nbRadio label="Unsure" name="natwest-rbs-or-mettle-unsure" title="Please check if you are expecting your annual turnover to be more than £85,000?"}}
                </div>
            {{/inline}}
        {{/ukGrid}}
    </li>
</ul>