<div class="calculator-wrap">
    <span class="uk-h3 uk-display-block uk-margin-medium-top">Based on your responses, we believe that you require the following services:</span>
    <div class="uk-position-relative">
        <ul class="uk-list calculator-list checked">
            <li class="uk-position-relative">We will form a limited company for you through which you will be able to undertake your contractor business. We will also register it for all taxes and provide you with initial tax efficiency advice.</li>
            <li class="uk-position-relative">Access to online accounting software that will take care of your invoicing, expenses, remuneration etc and help you see the bigger picture by freeing up time to run your business.</li>
            <li class="uk-position-relative">A monthly health-check of your online accounting software to ensure accuracy and tax-efficiency.</li>
            <li class="uk-position-relative list-within">An annual accounts, tax and company secretarial compliance service comprising of the following:
                <ul class="uk-list checked-list uk-margin-medium-top">
                    <li>Preparation of Statutory Accounts (for onward transmission to Companies House and HMRC)</li>
                    <li>Corporation tax compliance service</li>
                    <li>Annual preparation and submission of self-assessment income tax return to HMRC</li>
                    <li>Preparation and submission of Annual Confirmation Statement to Companies House</li>
                </ul>
            </li>
            <li class="uk-position-relative">Monthly PAYE Compliance Service.</li>
            <li class="uk-position-relative">Quarterly VAT Compliance Service.</li>
            <li class="uk-position-relative">Advice on what amounts of remuneration, taxes and pension you need to pay yourself.</li>
            <li class="uk-position-relative">Ad-hoc support for dealing with HMRC on your behalf in respect of any tax enquiries raised against you or your business.</li>
            <li class="uk-position-relative">An annual tax efficiency review and tax strategy for the forthcoming tax year, tailored to your specific needs as necessary.</li>
            <li class="uk-position-relative">Ad hoc advice and support on an as required basis</li>
        </ul>
    </div>
    {{#> ukGrid class=(default class "uk-child-width-1-2@m uk-flex-top calculator-fees")}}
        {{#*inline "cells"}}
            <div>
                <div class="uk-alert uk-alert-success">
                    {{!-- {{> renderIcon name="signup-flower" viewBox="803 413"}} --}}
                    <span class="uk-text-small uk-text-uppercase uk-background-secondary uk-text-center">Monthly Fee</span>
                    <p class="uk-h3 uk-margin-top">Based on your responses we estimate our monthly fee to you would be:</p>
                    <div class="uk-flex uk-flex-middle uk-flex-right">
                        <span class="uk-width-1-2@m uk-text-secondary fee uk-position-relative monthly uk-background-default uk-text-right">£138</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-alert uk-alert-primary">
                    <span class="uk-text-small uk-text-uppercase uk-background-primary uk-text-center">Yearly Fee</span>
                    <p class="uk-h3 uk-margin-top">Alternatively, you can save on fees by paying for a year in advance, in which case our annual fee would be:</p>
                    <div class="uk-flex uk-flex-right uk-margin-bottom">
                        <span class="uk-flex uk-flex-middle uk-flex-right uk-text-primary fee uk-position-relative yearly uk-background-default uk-text-right">£1,380</span>
                    </div>
                    {{#> ukGrid class=(default class "uk-child-width-1-2@s uk-grid-small uk-position-z-index")}}
                        {{#*inline "cells"}}
                        <div>
                            <p class="uk-text-small uk-text-margin-small-right">This represents a saving of 2 months, equal to:</p>
                        </div>
                        <div>
                            <span class="uk-flex uk-flex-middle uk-flex-right fee uk-position-relative yearly uk-text-right">£276</span>
                        </div>
                        {{/inline}}
                    {{/ukGrid}}
                </div>
            </div>
        {{/inline}}
    {{/ukGrid}}
    <div class="uk-position-relative">
        <span class="uk-h3 uk-display-block">Is our quote too high?</span>
        <ul class="uk-list">
            <li>Well, you are either already in the hands of an accountant who offers good value for money or you perhaps place less importance on maximising your tax efficiency.</li>
            <li class="uk-margin-top">You can now <a href="#">go back to the questionnaire</a> if you wish to check where you can potentially make savings, or if you are happy with our quote then:</li>
            <li>
             <ul class="uk-list calculator-list">
                <li class="uk-position-relative uk-margin-medium-top">You can proceed to <a href="#">sign up now</a> (you will need to have the information below to hand before proceeding); or</li>
                <li class="uk-position-relative uk-margin-medium-top">You can <a href="#">make an appointment time</a> from our online calendar and one of our qualified chartered accountants will arrange a video call with you.</li>
            </ul>
            </li>
            <li class="uk-margin-medium-top">If you are good to <a href="#">sign up with us now</a>, then you will need the following information to hand before proceeding:</li>
            <li>
                <ul class="uk-list checked-list uk-padding-small uk-padding-remove-vertical uk-padding-remove-right uk-margin-top">
                    <li>National insurance number</li>
                    <li>Passport</li>
                    <li>Photo driving licence or a letter confirming your home address</li>
                    <li>Unique Tax Reference number for your company (where you are already working through a limited company)</li>
                    <li>Unique Tax Reference number for yourself (where you are already registered for self-assessment tax returns)</li>
                    <li>A mobile phone (you will be asked to record a short video, so you maybe also want to do a quick check in the mirror also!)</li>
                </ul>
            </li>
        </ul>
    </div>
</div>