<div class="accordions">
	{{#> ukContainer size=(default size (default page.ukContainer ukContainer))}}
		{{#*inline "out"}}

		{{#if title}}
			<h2>{{title}}</h2>
		{{/if}}

		{{> ukLightbox}}

		{{/inline}}
	{{/ukContainer}}
</div>
