<p class="uk-alert uk-flex uk-flex-middle uk-alert-success uk-margin-medium-top uk-margin-remove-bottom">{{> renderIcon name="alert-success"}} This text is providing a positive message to the user</p>
<div class="uk-h1 uk-margin-bottom">How do you want to complete the sign-up?</div>
{{!-- <p>You can complete the sign-up with the Direct Debit now, or you can complete it later via the link we sent to your email.</p> --}}
<p>Once payment is complete you can set up your account with us.</p>