{{#> ukSection sectionClass="signup-banner" size="large"}}
    {{#*inline "out"}}
        <div class="signup-banner-box uk-position-relative uk-border-rounded uk-overflow-hidden">
		    <h2 class="uk-h1 uk-text-center">Switch to <span class="uk-text-secondary underlined">no fuss</span> accountancy services</h2>
            <div class="uk-flex uk-flex-between uk-margin-auto uk-flex-wrap signup-banner-lists uk-position-z-index uk-position-relative">
                <ul class="uk-list checked-list uk-margin-remove-bottom">
                    <li>Low, fixed monthly fees</li>
                    <li>No hidden charges</li>
                </ul>
                <ul class="uk-list checked-list uk-margin-remove-top uk-margin-remove-bottom">
                    <li>Secure and simple accountancy software</li>
                    <li>Friendly and experienced team</li>
                </ul>
            </div>
            <div class="uk-flex uk-flex-center uk-margin-auto uk-flex-wrap signup-lists uk-position-z-index uk-position-relative">
                <div>
                    {{> ukButton label="Get an instant quote" style="primary" icon="arrow-right" size="large"}}
                </div>
                <div>
                    {{> ukButton label="Sign up to newsletter" icon="newsletter" size="large"}}
                </div>
            </div>
            {{> renderIcon name="signup-flower" viewBox="803 413"}}
        </div>
    {{/inline}}
{{/ukSection}}