<div class="page-bottom uk-position-relative">
    <div class="uk-flex uk-flex-middle uk-flex-between uk-flex-wrap">
        {{#if @first}}
            {{> ukButton icon="arrow-left" pull="left" label="Back" size="large" link="#"}}
        {{else}}
            {{> ukButton icon="arrow-left" pull="left" label="Back" size="large" class="signup-button-back"}}
        {{/if}}
        <div>
            {{#if signupPayment}}
                {{> ukButton icon="arrow-right" label="Direct Debit Now" size="large" style="primary" class="signup-button-next"}}
            {{else}}
                {{#if saveDetails}}
                {{> ukButton icon="save" pull="left" label="Save your details for later" size="large" style="text" class="uk-text-left"}}
                {{/if}}
                {{#if @last}}
                    {{> ukButton icon="arrow-right" label="Save your details for later" size="large" style="primary"}}
                {{else}}
                    {{#if confirmButton}}
                        {{> ukButton icon="arrow-right" label="Confirm" size="large" style="primary" class="signup-button-next"}}
                    {{else}}
                        {{> ukButton icon="arrow-right" label="Continue" size="large" style="primary" class="signup-button-next"}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>