<div class="signup">
	{{#> ukContainer size="large"}}
		{{#*inline "out"}}
        <div class="signup-box uk-position-relative uk-border-rounded uk-overflow-hidden">
		    <h2 class="uk-h1 uk-text-center">Switch to no fuss accountancy services</h2>
            <div class="uk-flex uk-flex-center uk-flex-wrap">
                <ul class="uk-list">
                    <li>Low, fixed monthly fees</li>
                    <li>No hidden charges</li>
                </ul>
                <ul class="uk-list uk-margin-remove-top">
                    <li>Secure and simple accountancy software</li>
                    <li>Friendly and experienced team</li>
                </ul>
            </div>
            <div class="uk-flex uk-flex-between uk-flex-wrap">
                <div>
                    {{> ukButton label="Get an instant quote" style="primary" size="large"}}
                </div>
                <div>
                    {{> ukButton label="Sign up to newsletter" size="large"}}
                </div>
            </div>
            {{> renderIcon name="signup-flower"}}
        </div>
		{{/inline}}
	{{/ukContainer}}
</div>