<div class="uk-flex signup-confirm uk-flex-between">
    <div class="uk-flex signup-confirm-wrap">
        <div class="signup-infos uk-width-2-3@l">
            <div class="signup-info">
                <div class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-margin-bottom">
                    <h3 class="uk-margin-right uk-margin-remove-top">Basic Info</h3>
                    {{>ukButton style="text" class="uk-text-right" size="large" label="Edit"}}
                </div>
                {{#> ukGrid class=(default class "uk-child-width-1-2@m uk-grid-large")}}
                    {{#*inline "cells"}}
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Full Name</span>
                            <p class="uk-margin-remove-top">Thomas Michael</p>
                        </div>
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Email Address</span>
                            {{>ukButton style="text" link="mailto:thomas.michael@gmail.com" size="large" label="thomas.michael@gmail.com"}}
                        </div>
                    {{/inline}}
                {{/ukGrid}}
            </div>
            <div class="signup-info">
                <div class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-margin-bottom">
                    <h3 class="uk-margin-right uk-margin-remove-top">Business Info</h3>
                    {{>ukButton style="text" class="uk-text-right" size="large" label="Edit"}}
                </div>
                {{#> ukGrid class=(default class "uk-child-width-1-2@m uk-grid-large")}}
                    {{#*inline "cells"}}
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Business name</span>
                            <p class="uk-margin-remove-top">BusinessCO Ltd.</p>
                        </div>
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Address</span>
                            <p class="uk-margin-remove-top">Johnstone House 52-54 Rose Street, Aberdeen AB10 1HA</p>
                        </div>
                    {{/inline}}
                {{/ukGrid}}
                <div class="uk-margin-top">
                    <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">About the business</span>
                    <p class="uk-margin-remove-top">Aliquam leo aenean dolor placerat euismod tellus mi. Sed diam ullamcorper nulla quam ut ultricies. Sed adipiscing non maecenas magna tincidunt.... </p>
                </div>
                <span class="uk-display-block uk-h5">Details about existing accountant</span>
                {{#> ukGrid class=(default class "uk-child-width-1-2@m uk-grid-large")}}
                    {{#*inline "cells"}}
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Accountant Company Name</span>
                            <p class="uk-margin-remove-top">ABC-Accountants</p>
                        </div>
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Accountant Full Name</span>
                            <p class="uk-margin-remove-top">John Thomas</p>
                        </div>
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Accountant Email</span>
                            <p class="uk-margin-remove-top">info@abc-accountants</p>
                        </div>
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Accountant Telephone</span>
                            <p class="uk-margin-remove-top">+44 (0) 1234 567891</p>
                        </div>
                    {{/inline}}
                {{/ukGrid}}
                <div class="uk-margin-top">
                    <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Accountant Address</span>
                    <p class="uk-margin-remove">Johnstone House 52-54 Rose Street, Aberdeen AB10 1HA</p>
                </div>                     
            </div>
            <div class="signup-info uk-margin-medium-bottom">
                <div class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-margin-bottom">
                    <h3 class="uk-margin-right uk-margin-remove-top">Owner Info</h3>
                    {{>ukButton style="text" class="uk-text-right" size="large" label="Edit"}}
                </div>
                <div>
                    <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Is there more than one owner</span>
                    <p class="uk-margin-remove-top">No</p>
                </div>
                {{#> ukGrid class=(default class "uk-child-width-1-2@m uk-grid-large")}}
                    {{#*inline "cells"}}
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Owner Full Name</span>
                            <p class="uk-margin-remove-top">Thomas Michael</p>
                        </div>
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Owner Email Address</span>
                            <p class="uk-margin-remove-top">thomas.michael@gmail.com</p>
                        </div>
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Date of Birth (dd/mm/yyyy)</span>
                            <p class="uk-margin-remove-top">12/12/1985</p>
                        </div>
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">National Insurance number</span>
                            <p class="uk-margin-remove-top">AA123456C</p>
                        </div>
                        <div>
                            <span class="uk-h6 uk-display-block uk-text-secondary uk-text-bold uk-margin-remove-bottom">Tax reference</span>
                            <p class="uk-margin-remove-top">GB 0123456789</p>
                        </div>
                    {{/inline}}
                {{/ukGrid}}
            </div>
            <p>Please, review the {{>ukButton link="#" label="Engagement Letter" style="text" size="large"}}, {{>ukButton link="#" label="Terms and Conditions" style="text" size="large"}} and the {{>ukButton link="#" label="Privacy Notice" style="text" size="large"}} before confirming the initial set up</p>
			<div class="uk-margin uk-child-width-auto">
				<label class="uk-text-small uk-flex uk-flex-top"><input class="uk-checkbox" type="checkbox" > By clicking confirm you agree to our Engagement Letter, Terms and Conditions and the Privacy Notice documents.</label>
			</div>
            <p class="uk-margin-remove-bottom">These documents will be emailed to you on completion of this step.</p>           
        </div>
        <div class="uk-width-auto@l signup-confirm-help">
            <div class="uk-card">
                <div class="uk-card-media-top uk-margin-bottom uk-padding-remove">
                    <img src="./img/consultation-mob.png" loading="lazy" width="262" height="213" alt="Consultation">
                </div>
                <div class="uk-card-body uk-padding-remove">
                    <span class="uk-h3 uk-display-block">Need some help?</span>
                    <p class="uk-margin-remove-top">Would you like a FREE 30 minute consultation?</p>
                    {{>ukButton link="#" label="Book a phone call" icon="telephone" size="large" class="uk-width-1-1"}}
                </div>
            </div>
        </div>
    </div>
</div>